In [1]:
import os
import glob
import pandas as pd
import io
import xml.etree.ElementTree as ET
import argparse
from collections import Counter

In [2]:
list_classes = []
total_img = 0

In [3]:
path_1 = r"D:\Pemrograman\Python\Project\google_image_scraper\Google-Image-Scraper\photos\food\train"
# path_2 = r"D:\Pemrograman\Python\Project\google_image_scraper\Google-Image-Scraper\photos\nasi kotak indonesia"
# path_3 = r"D:\Pemrograman\Python\Project\google_image_scraper\Google-Image-Scraper\photos\makan nasi pake tempe"
# os.chdir(path)
for xml_file in glob.glob(path_1 + '/*.xml'):
    total_img +=1
    file_names = xml_file.split('\\')[1]
    tree = ET.parse(xml_file)
    root = tree.getroot()
    filename = root.find('filename').text
    for member in root.findall('object'):
        list_classes.append(member.find('name').text)

In [4]:
total_img

1802

In [5]:
Counter(list_classes)

Counter({'ayam': 762,
         'tahu': 497,
         'tomat': 370,
         'Sugar Glazed': 1198,
         'Boston Cream': 872,
         'Strawberry Frosted': 824,
         'Chocolate Frosted': 848,
         'timun': 832,
         'telor dadar': 34,
         'nasi': 374,
         'tempe': 520,
         'telor asin': 250,
         'telor balado': 219,
         'telor ceplok': 210,
         'mie': 143,
         'roti': 4})